# Ignore all xcodeproj files in all directories
**/*.xcodeproj

# Ignore all xcworkspace files in all directories
**/*.xcworkspace

# Ignore all xcconfig files in all directories
project/Secrets/

# Ignore Derived
**/Derived/

**/.package.resolved
**/Package.resolved

# Ignore build cache
**/.build

# Ignore DS STore
**/.DS_Store
