<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4eId4P8P3XlpHIVINfVpyB-pMQmqNxQM</string>
	<key>GCM_SENDER_ID</key>
	<string>740246202578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idle.caremeet</string>
	<key>PROJECT_ID</key>
	<string>swm-3idiots</string>
	<key>STORAGE_BUCKET</key>
	<string>swm-3idiots.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:740246202578:ios:d5e59f4f2116f92342250b</string>
</dict>
</plist>
