//
//  appDebug.xcconfig
//  Manifests
//
//  Created by 최준영 on 6/19/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../common.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.idle.$(APP_NAME).domain.$(PRODUCT_MODULE_NAME)
